.osn {
    max-height: 974px;
    max-width: 1480px;
    margin-top: 145px;
    margin-left: 276px;
    border: none;
    font: 20pt inter, Helvetica, sans-serif;
    color: #949393;
}


.otpravit {
    background-color: #444444;
    border: none;
    color: #00FFFF;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 15px 24px;
    font-weight: 600;

}

label {
    display: block;
    margin-bottom: 30px;

}

.buttono{
    margin-left: 450px;
}

.imay, .parol{
    text-decoration: none;
    display:inline-block;
    font: 20pt inter, Helvetica, sans-serif;
    color: #949393;
    font-weight: 500;
}

.ima, .par {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
    background-color: #efeded;
    font: 18pt inter, Helvetica, sans-serif;
    color: #8B8A8A;
    height: 46px;
    width: 525px;

}

.zapomni {
    font: 15pt inter, Helvetica, sans-serif;
    color: #adacac;
    border: none;
    margin-left: 250px;
}

input {
    outline:none;
}

.parol{
    margin-left: 135px;
}
