.knop {
    margin-left: 289px;
    margin-top: 25px;
 }

.dannie, .dostype, .dannie1, .dostype1 {

    border: 1px solid #525252;
    color: #575959;
    text-align: center;
    display: inline-block;
    float: left;
    font-size: 20px;
    padding: 15px 24px;
    font-weight: 600;
 }

 .dannie, .dostype1{
      background-color: #EDE9E9;

 }
 .dannie1, .dostype {
     background-color: #C9C8C8;
 }