    <header class="entranceh">
        <div class="hdiv1">
            <p class="tel1"><a href="tel:+74951201341">+7 (495) 120-13-41</a></p>
            <p class="svaz"><a href="/feedback">Обратная связь</a></p>
        </div>
        <div class="hdiv2">
            <div class="menu1">
                <button class="button1"><a href="/zayavka">Заявки</a></button>
                <button class="button1"><a href="/background_tasks">Фоновые задачи</a></button>
                <button class="button1"><a href="/instrykc">Документация</a></button>
                <button class="button1"><a href="/another_user">Войти под другим сотрудником</a></button>
            </div>
            <div class="menu2">
                <button class="button2">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/users">Пользователь</a>
                    <a href="/company">Компания</a>
                    <a href="/enter">Выход</a>
                </div>
            </div>

        </div>
        </div>

    </header>


    <div class="osn">
    <p>Данные по сделке</p>
    </div>

    <footer class="entrancef">
        <div class="fdiv1">
            <p>Техническая поддержка:</p>
            <p class="tel"><a href="tel:+74951201341">+7 (495) 120-13-41</a></p>
            <p class="mail"><a href=mailto:support@srgroup.ru>support@srgroup.ru</a></p>
        </div>
    </footer>